altair
arviz
asttokens
attrs
blinker
bokeh==2.4.3
branca
Brotli
cached-property
cachetools
certifi
charset-normalizer
click
cloudpickle
cycler
debugpy
decorator
fastprogress
filelock
folium
fonttools
GitPython
graphviz
h5netcdf
h5py
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
llvmlite
logical-unification
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
miniKanren
mkl-service
multipledispatch
munkres
nest_asyncio
numba
numpy
packaging
pandas
parso
pexpect
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow==15.0.2
pydeck
Pygments
pymc>=5
pymc-bart
pyparsing
PySocks
python-dateutil
python-slugify
pytz
PyYAML
pyzmq
requests
rich
scikit-learn
scipy
six
smmap
stack-data
streamlit
streamlit_folium
tenacity
text-unidecode
threadpoolctl
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
widgetsnbextension
xarray
xarray-einstats
xyzservices
zipp
